/* Main Layout tags */
#widecontainer {
	background: transparent url('images/userBG2.jpg') top left repeat-x;
}

.topContent {
	position:relative;
	height:345px;
}

img  {
	behavior: url('/eclipse.org-common/themes/Nova/iepngfix.htc');	
}

.rssIcon {
	margin-left:10px;
}

/* Floating Icons Markup */

.floatingIcon {
	width:180px;
	text-align:center;
	position:absolute;
	clear:none;
}

.floatingIcon img {
	margin:0px;
	padding:0px;	
}

.floatingIcon .heading {
	font-size:18px;
	margin:0px;
	padding:0px;
	color:#28145f;	
	font-weight:bold;
}

.floatingIcon p.subText {
	margin:0px;
	padding:0px;
	font-size:13px;	
	line-height:15px;
	text-align:center;
}


.floatingIcon a:not([href]) {
	text-decoration:none;
	cursor:default;	
}

/* Floating Icons Layout */

#project {
	top:100px;
	left:175px;
}

#portals {
	top:125px;
	left:550px;
}

#resources {
	top:50px;
	left:400px;
}

#events {
	top:210px;
	left:690px;
}

#training {
	top:215px;
	left:320px;
}

#documentation {
	top:30px;
	left:720px;
}

#getinvolved {
	top:180px;
	left:20px;
}
